<div class="header">
  <h2>Mis Favoritos</h2>
  <a class="btn primary" routerLink="/favorites/create">+ A&ntilde;adir favorito</a>
</div>

@if (loading()) {
  <p>Cargando...</p>
}

@if (errorMsg()) {
  <p>{{ errorMsg() }}</p>
}

@if (!loading() && !errorMsg()) {
  <div class="grid">
    <a class="card fav" *ngFor="let f of favorites()" [routerLink]="['/favorites', f.id]">
      <div class="top">
        <div class="name">#{{ f.pokemon_id }} &middot; {{ f.pokemon_name }}</div>
        <div class="muted">Fav ID: {{ f.id }}</div>
      </div>

      @if (f.note) {
        <div class="note">
          {{ f.note }}
        </div>
      } @else {
        <div class="muted">Sin nota</div>
      }
    </a>
  </div>
}

@if (!loading() && !errorMsg() && favorites().length === 0) {
  <p class="muted">No tienes favoritos todav&iacute;a.</p>
}
