<h2>Dashboard</h2>

@if (loading()) {
  <p>Cargando...</p>
}

@if (errorMsg()) {
  <p>{{ errorMsg() }}</p>
}

@if (!loading() && !errorMsg()) {
  <div>
  <p><strong>Email:</strong> {{ auth.user()?.email }}</p>
  <p><strong>Rol:</strong> {{ auth.profile()?.role }}</p>

  <p><strong>Favoritos:</strong> {{ favoritesCount() }}</p>

  <div class="actions">
    <a routerLink="/favorites">Ir a Favoritos</a> |
    <a routerLink="/pokemons">Explorar Pokémons</a>
  </div>

  @if (auth.isAdmin()) {
    <div>
      <hr />
      <h3>Zona Admin</h3>
      <a routerLink="/admin/users">Gestionar usuarios</a> |
      <a routerLink="/admin/content">Gestionar contenido</a>
    </div>
  }
  </div>
}
