<h2>Dashboard</h2>

<p *ngIf="loading()">Cargando...</p>
<p *ngIf="errorMsg()">{{ errorMsg() }}</p>

<div *ngIf="!loading() && !errorMsg()">
  <p><strong>Email:</strong> {{ auth.user()?.email }}</p>
  <p><strong>Rol:</strong> {{ auth.profile()?.role }}</p>

  <p><strong>Favoritos:</strong> {{ favoritesCount() }}</p>

  <div class="actions">
    <a routerLink="/favorites">Ir a Favoritos</a> |
    <a routerLink="/pokemons">Explorar Pokémons</a>
  </div>

  <div *ngIf="auth.isAdmin()">
    <hr />
    <h3>Zona Admin</h3>
    <a routerLink="/admin/users">Gestionar usuarios</a> |
    <a routerLink="/admin/content">Gestionar contenido</a>
  </div>
</div>